@charset "iso-8859-1";

/*
Nome: NBastian Fotografia | Comunica��o
Endereco: http://www.nbastian.com.br/
Versao: 1.0
Autor: Giovani de Oliveira - Agencia P4 - giovani@agenciap4.com.br
*/

*{margin:0;padding:0;list-style:none;}

body{
	font-family: Arial, Helvetica, sans-serif;
}

p{
	color:#888;
	font: lighter 11px Arial, Helvetica, sans-serif;
	margin: 5px 10px 15px;
	padding: 2px 0;
}

h2,
h2.clientes,
h2.contato,
h2.galeria,
h2.eventos{
	padding: 30px 0 0 0; /* padding-top=altura imagem */
    overflow: hidden;
    background: url(imagens/h2+perfil.gif) no-repeat;
    height: 0 !important;
    height /**/:30px; /* height=altura imagem - hack IE5's */
	margin:10px 0 0 15px;
}
h2.clientes{background: url(imagens/h2+clientes.gif) no-repeat;}
h2.contato{background: url(imagens/h2+fale.gif) no-repeat;}
h2.galeria{background: url(imagens/h2+galeria.gif) no-repeat;}
h2.eventos{background: url(imagens/h2+eventos.gif) no-repeat;}
h2.colaboradores{
	padding: 23px 0 0 0; /* padding-top=altura imagem */
    background: url(imagens/h2+colaboradores.gif) no-repeat;
    height: 0 !important;
    height /**/:23px; /* height=altura imagem - hack IE5's */
	margin-left:15px;
	margin-top: 50px;
}
h2.noticias,
h2.imprensa{
	padding: 38px 0 0 0; /* padding-top=altura imagem */
    background: url(imagens/h2+noticias.gif) no-repeat;
    height: 0 !important;
    height /**/:38px; /* height=altura imagem - hack IE5's */
	margin: 10px 0 0 15px;
}
h2.imprensa{background: url(imagens/h2+imprensa.gif) no-repeat;}

h2.solicitacao{
	padding: 38px 0 0 0; /* padding-top=altura imagem */
    background: url(imagens/h2+solicitacao.gif) no-repeat;
    height: 0 !important;
    height /**/:38px; /* height=altura imagem - hack IE5's */
	margin-left:15px;
}


#geral{
	background: #000;	
}
/* General styles for the desktop view */
#topo {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  #topo h1 {
	margin: 0;
	font-size: 1.5rem;
  }
  
  #topo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  #topo ul li {
	margin-right: 10px;
  }
  
  #topo a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
  }
  
  #topo a:hover {
	background-color: #555;
  }
  
  /* Media query for mobile devices */
  @media only screen and (max-width: 767px) {
	#topo ul {
	  display: none;
	  flex-direction: column;
	  position: absolute;
	  top: 60px; /* Adjust the top spacing as needed */
	  left: 0;
	  width: 100%;
	  background-color: #333;
	  z-index: 1;
	}
  
	#topo ul.show {
	  display: flex;
	}
  
	#topo ul li {
	  margin: 0;
	  text-align: center;
	}
  
	#topo a {
	  display: block;
	  padding: 15px;
	}
	#toggleBtn {
		display: block !important; /* Hide the button on mobile */
	  }
  }
  #toggleBtn {
    display: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
  }  
.box{
	background-color:#111;
	padding: 10px;
}
.box h4{
	background: url(imagens/fundo+h4.jpg) repeat-x left bottom; 
	color:#fff;
	font: bold 22px Arial, Helvetica, sans-serif;
	margin: 10px;
	padding-bottom: 10px;
	text-transform:uppercase;
	display: block;
}
.box h4 span{
	color:#888;
	display: block;
	font: bold 14px Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
}
.box h4 a img{
	float: right;
	margin-top:10px;
}

#principal,
#perfil,
#clientes,
#noticias,
#contato,
#imprensa,
.galeria{margin: 0 auto;}


#principal{
	/*height: 590px;*/
	/* position: absolute;*/
	/*width:935px;*/
}
#banner{
	height: 588px;
	/* position: absolute;*/
	width:933px;
}

#destaque{
	color: #fff;
    height: 233px;
    position: absolute;
    top: 435px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
#destaque ul li {
	height: 115px;
    padding: 50px 3px;
    width: 375px;
}
#destaque ul li img{border: 5px solid #444; float: left; margin: 0 10px;}
#destaque ul li h5{
	background-color: white;
    color: #000;
    float: left;
    font: bold 16px Arial, Helvetica, sans-serif;
    height: 20px;
    margin-bottom: 5px;
    letter-spacing: -1px;
    padding: 17px 20px;
    padding-top: 0px;
    width: 210px;
    text-transform: uppercase;
}
#destaque ul li p{
	color: #848484;
}
#destaque ul li a{
	background: url(imagens/fundo+a+index.png) no-repeat right bottom;
	clear:both;
	color: #848484;
	font: bold 12px Arial, Helvetica, sans-serif;
	display: block;
	margin-top: -10px;
	padding-right:15px;
	text-align: right;
	text-decoration:none;
	text-transform:uppercase;
}

#destaque ul li.eventos,
#destaque ul li.expo{
	background: rgb(9 9 10 / 74%);
    backdrop-filter: blur(12px);
	border-radius: 20px;
}
p.title_p {
    font-size: xx-large;
    text-align: center;
    transform: translateY(-50px);
	margin-bottom: -40px;
}
ul.destaques {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	width: 100%;
}

.setaEsquerda{
	position: absolute;
	top: 280px;
	left: 0px;
	height: 73px;
	width: 35px;
	z-index: 10;
}
.setaDireita{
	position: absolute;
	top: 280px;
	right: 17px;
	height: 73px;
	width: 35px;
	z-index: 10;
}


/* Div para p�gina de perfil */
#perfil{
	background: url(imagens/foto+perfil.jpg) no-repeat left top;
	padding:20px 0 0 305px;
	width:580px;
}
#clientes{
	padding: 20px 0;
	width: 940px;
}
#clientes ul li{
	float: left;
	margin: 5px 12px;
}

/* Div para p�gina de noticias */
#noticias{
	padding: 20px 0;
	width: 940px;
}
#noticias ul{margin: 5px 0;}
#noticias ul li{
	background: url(imagens/fundo+noticia.gif) no-repeat right center;
	color: #848485;
	float: left;
	height: 40px;
	margin: 0 22px 25px 0;
	width: 437px;
}
#noticias ul li span{
	font-size: 20px;
	font-weight:bold;
	float: left;
	margin: 8px 0 0 0;
	letter-spacing:-1px;
}
#noticias ul li a{
	color: #848485;
	display: block;
	float: right;
	font-size:11px;
	font-stretch:narrower;
	height: 30px;
	margin: 5px 10px;
	text-decoration: none;
	width: 323px;
}
#noticias ul li a strong{
	color: #848485;
	font-size:12px;
}
#noticias p{color:#848485;}
#noticias p strong{font-size:20px; font-weight:bold; letter-spacing:-1px; margin: 25px 0 10px; color: #848485; }
#noticias a img{ margin-left:5px;}

/* Div para p�gina de contato */
#contato{
	padding: 20px 0;
	width: 940px;
}
#contato #endereco{
	float: left;
	margin: 25px 15px 10px;
	padding: 0 10px;
	width:360px;
}
#contato #endereco ul{
	background-color: #1c1c1c;
	margin: 10px 0 25px;
	padding: 10px;
	width: 310px;
}
#contato #endereco ul li{
	color: #fff;
	display: block;
	font: bold 14px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#contato #endereco ul li strong{
	background-color: #000;
	display:block;
	padding: 5px 15px;
}
#contato #endereco ul li span{
	display:block;
	margin-bottom: 15px;
	padding: 5px 15px;
}
#contato #endereco ul li span a{
	color:#fff;
	text-decoration:none;
}
#contato #engloba{
	float: left;
	margin: 0 45px 10px 15px;
	padding: 20px;
	width:300px;
}
#contato #solicita{
	background-color: #1c1c1c;
	
	padding: 10px 10px 20px;
	width: 300px;
}
#contato #botao{
	margin: 0 10px 0 110px;
	width: 200px;
}

#contato #solicita h6{
	background-color: #000;
	color: #fff;
	display: block;
	font: bold 14px Arial, Helvetica, sans-serif;
	padding: 5px 15px;
	margin-bottom:10px;
}

#contato #solicita h6.total{margin-top:30px;}

#contato #solicita ul{padding: 10px 15px;}

#contato #solicita ul li{
background-color: #fff;
	height: 103px;
	float: left;
	margin:10px 12px 0 0;
	padding: 5px;
	width: 67px;
}

#contato #solicita ul li span{
    display: block;
    color: #444;
	font-size:12px;
    text-align: center;
}
#contato #solicita ul li a{
	background: url(imagens/icone+excluir.gif) no-repeat left center;
	color: #444;
	font-size:9px;
	padding: 5px 0;
	padding-left:18px;
	text-decoration: none;
	text-transform:uppercase;
}

#contato #ok{
	padding: 30px 0 10px;
	text-align:center;
}
#contato #ok h6{
	background-color: #1c1c1c;
	color: #fff;
	font-size: 14px;
	margin: 15px 0;
	padding: 10px 0;
}
#contato #ok h6 span{
	display: block;
	font-size:20px;}


#contato form,
#contato #ok{
	float: left;
	margin: 25px 10px;
	width: 490px;
	height: 400px;
}
#contato form fieldset {border:none; padding-top:10px;}
#contato form fieldset label {
    display:table;
	margin-bottom: 10px;
    width:100%;
}
#contato form fieldset label span {
	color: #fff;
    float:left;
    text-align:right;
    width:111px;
    font: bold 13px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 8px 5px 0 0;
}
#contato form fieldset label input {
	background: url(imagens/fundo+input.jpg) no-repeat;
    float:left;
	height: 16px;
    border:none;
    padding:10px;
	width: 312px;
}
#contato form fieldset label textarea{
	background: url(imagens/fundo+textarea.jpg) no-repeat;
	border: none;
	font: 13px Arial, Helvetica, sans-serif;
	height: 109px;
	padding: 10px;
	width: 294px;
}
#contato form fieldset button {
    width:89px;
    height:46px;
    background: url(imagens/bt+enviar.jpg) no-repeat 0 0;
    border:none;
    text-indent:-9000em;
    overflow:hidden;
    cursor:pointer;
    float:right;
    margin:-12px 60px 0 0;
}

/* Div para p�gina de imprensa */
#imprensa{
	padding: 20px 0 60px;
	width: 940px;
}
#imprensa ul{
	background: url(imagens/fundo+ul+imprensa.jpg) no-repeat;
	float: left;
	padding: 20px 130px 0 15px;
	margin: 10px 30px 0 10px;
	width: 300px;
	height:214px;
}
#imprensa ul li{
	color: #fff;
	display: block;
	font: bold 14px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#imprensa ul li strong{
	background-color: #000;
	display:block;
	margin-top: 40px;
	padding: 5px 15px;
}
#imprensa ul li span{
	display:block;
	margin-bottom: 15px;
	padding: 5px 15px;
}
#imprensa ul li span a{
	color:#fff;
	text-decoration:none;
}
#imprensa form{
	float: left;
	margin: 25px 0;
	padding-top:10px;
	width: 420px;
}
#imprensa form fieldset {border:none;}
#imprensa form fieldset label {
    display:table;
	margin-bottom: 10px;
    width:100%;
}
#imprensa form fieldset label span {
	color: #fff;
    float:left;
    text-align:right;
    width:111px;
    font: bold 13px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 8px 5px 0 0;
}
#imprensa form fieldset label input {
	background: url(imagens/fundo+input+pequeno.jpg) no-repeat;
    float:left;
	height: 16px;
    border:none;
    padding:10px;
	width: 186px;
}
#imprensa form fieldset button {
    width:89px;
    height:46px;
    background: url(imagens/bt+acessar.jpg) no-repeat 0 0;
    border:none;
    text-indent:-9000em;
    overflow:hidden;
    cursor:pointer;
    float:right;
    margin:-10px 100px 0 0;
}

/* Div para p�ginas que cont�m galeria */
.galeria{
	padding: 20px 0 50px;
	width: 940px;
}

.galeria a img{margin-left:5px;}
#rodape {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  
  #patrocinadores {
	margin-bottom: 20px;
  }
  
  #info {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .direita {
	text-align: right;
	margin-bottom: 10px;
  }
  
  a {
	color: #fff;
	text-decoration: none;
  }
  
  a:hover {
	text-decoration: underline;
  }
  
  /* Adjust the font size, margin, and padding as needed */
  p {
	font-size: 14px;
	margin: 0;
	padding: 5px 0;
  }
  


/* Classes adicionais */

.direitaPag{float: right; margin-right: 5px;}

.esquerda{float: left;}
.direita{float: right;}
.minusculo{text-transform: none;}
a img{border: none;}
a{text-decoration:none; cursor:pointer;}
.textoEsquerda{text-align:left !important; margin: 7px; text-transform:uppercase;}
.imagemNoticia{
	background-color: #1c1c1c;
	float: left;
	padding: 10px;
	margin: 5px 25px 25px 5px;
}
hr{
	background-color:#000;
	border-width:0;
    border-style: none;
    color: #000;
	clear: both;
	height: 10px;
	margin: 10px 0 0;
}

h3, h3 a{
	margin: 10px 10px 0 10px;
	color:#fff;
	font: bold 14px Arial, sans-serif;
	letter-spacing:-1px;
	text-align: center;
	text-transform:uppercase; 
}
h3 a{text-decoration:none;}
.boxgrid{ 
	width: 272px; 
	height: 200px; 
	margin:10px; 
	float:left; 
	background:#161613; 
	border: solid 5px #1c1c1c; 
	overflow: hidden; 
	position: relative; 
}

.boxgridFoto{
	width: 120px;
	height: 88px;
	margin:10px;
	float:left;
	background:#161613;
	border: solid 5px #1c1c1c;
	overflow: hidden;
	position: relative;
}

.boxgridFoto img{
    position: absolute;
	top: 0;
	left: 0;
	border: 0;
    cursor: pointer;
 }

.boxgrid img{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0; 

}
.boxgrid p{text-align:center;font:11px Arial, Helvetica, sans-serif;}
.boxgrid p a{ 
	color:#afafaf; 
	font-weight:bold; 
	font:11px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.boxcaption img{
	float:right;
	height: 51px;
	left: 210px;
	margin-top:5px;
	width:60px;
	position: absolute;
} 
				
.boxcaption{ 
	float: left; 
	position: absolute; 
	background: #000; 
	height: 100px;
	width: 100%; 
	opacity: .8; 
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.captionfull .boxcaption {
	top: 200px;
	left: 0;
}
.caption .boxcaption {
	top: 165px;
	left: 0;
}


/**************************************************************

	Image Menu
	v 2.2

**************************************************************/


#imageMenu {
	background-color: #111;
	/*position: relative;*/
	width: 560px;
	height: 188px;
	overflow: hidden;
	padding: 10px;
}
#imageMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 200px;
	width: 1000px;
	
	}

#imageMenu ul li {
	float: left;
}

#imageMenu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:180px;
	height: 188px;
	margin-right: 10px;
}

#imageMenu ul li.landscapes a {
	background: url(imagens/imageMenu/col-1.jpg) repeat scroll 0%;
}

#imageMenu ul li.people a {
	background: url(imagens/imageMenu/col-1.jpg) repeat scroll 0%;
}

#imageMenu ul li.nature a {
	background: url(imagens/imageMenu/col-1.jpg) repeat scroll 0%;
}

#imageMenu ul li.urban a {
	background: url(imagens/imageMenu/urban.jpg) repeat scroll 0%;
}

#imageMenu ul li.abstract a {
	background: url(imagens/imageMenu/abstract.jpg) repeat scroll 0%;
	width: 310px;
}

.clear {
	clear: both;
}
@media only screen and (max-width: 767px) {
	/* Styles for mobile devices go here */
	#destaque {
		height: 100%;
		position: static;
	}
	#principal #destaque{
		position: sticky;
	}
	ul.destaques {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: space-between;
		align-items: center;
	}
	#principal #destaque ul li {
		width: 90%;
	}
  
	/* Add more styles as needed for your mobile layout */
  }

/*************************************************************/

