/* CSS Document */

	*{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	body{
		background:url(../img/fundo/body.jpg) top repeat-x;
	}
	
	img{ border: none;}
	
	h5{
		color: #069;
		font: bold 90% "Trebuchet MS", Tahoma, Verdana;
		background-color: fafafa;
		border: 1px solid #f3f3f3;
		padding: 5px;
		margin-bottom: 10px;
	}
	
	a{ color: #666; text-decoration: none;}

	
	#geral{
		margin: 0 auto;
		width: 770px;
	}
	
	#topo{
		height: 85px;
		padding: 0 20px;
	}
	
	#topo h3{
		color: #fff;
		font: bold 190% "Trebuchet MS", Tahoma, Verdana;
		height: 85px;
		line-height: 85px;
		float: left;
	}
	
	#topo #menu{
		padding-top:15px;
		text-align: center;
	}
	
	#topo #menu ul{ width: 450px;}
	
	#topo #menu li{
		display: inline;
	}
	
	#topo #menu li a{
		height: 10px;
		float: right;
		font: bold 75% "Trebuchet MS", Helvetica, Arial, Tahoma, Verdana, Sans-Serifa;
		color: #fff;
		padding: 0 10px;
		text-decoration: none;
	}
	

	#conteudo{
		border: 1px solid #666;
		border-top: none;
		padding: 10px;
	}
	
	#conteudo h4{
		color: #f60;
		font: bold 13px "Trebuchet MS", Tahoma, Verdana;
		border-bottom: 1px dotted #ccc;
		margin-bottom: 10px;
	}
	
	
	#conteudo #menu{
		margin-bottom: 20px;
		height: 70px;
	}
	
	#conteudo #menu ul {
			float: left;
			width: 100%;
			list-style:none;
			font:70% "Trebuchet MS", Tahoma;
		}

	#conteudo #menu ul li { display: inline; }

	#conteudo #menu ul li a {
		color: #666;
		text-decoration: none;
		padding: 2px 30px;
		float:left;
		text-align: center;
		display: block;
	}
	
	
	#miolo{
		border: 1px solid #fafafa;
		padding: 10px;
	}
	
	#miolo p{
		font: 11px "Trebuchet MS", Tahoma, Verdana;
		padding: 10px 0;
	}
	
	#local{
		float: right;
		margin-bottom: 10px;
	}
	
	#local h6{
		color: #666;
		font: 70% "Trebuchet MS", Tahoma;
		padding: 7px;
	}
	
	#rodape{
		padding: 5px;
		text-align: center;
	}
	
	address{ color: #666; font: 75% "Trebuchet MS", Verdana, Arial, Tahoma; }
	
	address a{ color: #666; text-decoration: underline;}

	.direita{ float: right;}
	
	
	label{ 
		display: block;
		width: 75px;
		float: left;
		color: #000;
		border-bottom: 1px solid #f1f1f1;
		font-size: 95%;
		font: 80% "Trebuchet MS";
		color: #666;
	}
	

	fieldset{ border: none;}
	
	.botao, .botaovoltar{
		font-size: 11px;
		float: right;
		color: #999;
		background: #f1f1f1;
		border: 1px solid #999;
		margin: 30px 200px 0 0;
		padding: 5px 15px;
	}
	
	.botaovoltar { float: left;}
	
	.txt, .txtData, select, textarea {
		border: 1px solid #7F9DB9;
		font: 80% Verdana, Arial, Tahoma;
		background-color: #FFF;
		padding: 2px 2px;
		color: #666;
		margin-bottom: 15px;
	}
	
	.txt { width: 350px;}
	.txtData { width: 100px;}
	
	td.dois{ padding-left: 20px;}

	fieldset.apostila
	{
	   margin-right: 7px;
	   width: 250px;
	   border: solid #f60 1px;
	   padding: 20px 20px 5px;
	   margin-bottom: 10px;
	   display: block;
	}
	
	.semApostila{ display: none;}
	
